:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
  --next-accent-color: #404bbf;
  --dark-background-color: #2e2f42;
  --light-background-color: #f4f4fd;
  --white-background: #ffffff;
  --card-set-gap: 24px;
  --button-focus: 1px solid #e7e9fc;
}
/*Basic*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--secondary-text-color);
  background-color: var(--white-background);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*================= COMPONENTS =================*/

.modal-open-btn {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--white-background);
  min-width: 169px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--next-accent-color);
}

.sorting-btn {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--light-background-color);
  color: var(--accent-color);
  padding: 12px 24px;
  border: var(--button-focus);
  border-radius: 4px;
}
.sorting-btn:hover,
.sorting-btn:focus {
  color: var(--white-background);
  background-color: var(--next-accent-color);
  border: 1px solid transparent;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.description,
.contact-info-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*================= COMPONENTS =================*/

/*====================HEDER====================*/

.link-logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.logo-text-top {
  color: var(--primary-text-color);
}

.nav-list-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 24px 0;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-info-link:hover,
.contact-info-link:focus {
  color: var(--next-accent-color);
}

.contact-info {
  font-style: normal;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.contact-info {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*==================== /HEDER ====================*/

/*==================== MAIN ====================*/

/*==================== HERO ====================*/

.hero {
  background-color: var(--dark-background-color);
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

/*==================== HERO ====================*/

/*==================== ADVANTAGE ====================*/
.advantage-title {
  visibility: hidden;
}
.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-list-item {
  width: calc((100% - 72px) / 4);
}
.advantage-subtitle {
  margin-bottom: 8px;
}

/*==================== ADVANTAGE ====================*/

/*==================== SERVISES ====================*/

.servises-list {
  display: flex;
  gap: 24px;
}

.servises-list-item {
  flex-basis: calc((100% - 48px) / 3);
}
.servises {
  padding-top: 0;
}
/*==================== /SERVISES ====================*/

/*==================== TEAM ====================*/

.team {
  background-color: var(--light-background-color);
}
.team-card-container {
  padding: 32px 16px;
}

.team-list-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-position {
  text-align: center;
}

/*==================== /TEAM ====================*/
/*==================== /MAIN ====================*/

/*=================== FOOTER ======================*/

.page-footer {
  padding: 100px 0;
  background-color: var(--dark-background-color);
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-text-footer {
  color: var(--light-background-color);
}
.footer-description {
  width: 264px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
}

/*=================== /FOOTER ======================*/

/*==================== PORTFOLIO ====================*/
.sorting-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}
.examples {
  padding-top: 96px;
  padding-bottom: 120px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.examples-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: transparent;
}
.examples-list-item {
  width: calc((100% - 48px) / 3);
}
.examples-title {
  visibility: hidden;
}
.examples-subtitle {
  margin-bottom: 8px;
}
/*==================== /PORTFOLIO ====================*/
